<html>
  <head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js" type="text/javascript"></script>
    <script>
      var config = {};
      config.address = '127.0.0.1';
      config.port = '3000';
    </script>
    <script src="/socket.io/socket.io.js" type="text/javascript"></script>   
    <script src="/javascripts/app.js" type="text/javascript"></script>
    
    <style>
      body{ overflow: auto; }
      div {
        display: inline-block;
        width: 10px;
        height: 10px;
        border: solid 3px black;
        position: absolute;
      }
    </style>
  </head>
  <body>
  </body>
</html>