<!DOCTYPE html>
<html>
  <head>
    <title>hudln</title>
    <link href='/stylesheets/style.css' media='screen' rel='stylesheet' type='text/css'/>
    <script src='/javascripts/jquery-2.0.3.min.js' type='text/javascript'></script>
    <script src='/javascripts/engine.js'        type='text/javascript'></script>
    <script src='/javascripts/assets.js'        type='text/javascript'></script>
    <script src='/javascripts/realm.js'         type='text/javascript'></script>
    <script src='/javascripts/resource-node.js' type='text/javascript'></script>
    <script src='/javascripts/character.js'     type='text/javascript'></script>
  </head>
  <body>
    <div id="main">
      <canvas id="realm"></canvas>
      <script>
        $(document).ready(function () {
          Engine.init();
        });
      </script>
      
      <div id="hud">
        Resources Collected: <span id="resources-collected">0</span>
      </div>
    </div>
  </body>
</html>